body {
    text-align: center;
}

.calendar-graph {
    margin-top: 30
}

.contrib-legend {
    padding-left: 20px;
}

.legend {
    display: inline-block;
    list-style: none;
    padding: 0;
    margin: 0 5px;

}

li {
    display: inline-block;
    width: 10px;
    height: 10px;
}

@media screen and (min-width:768px) {
    .title {
        font-size: 70px;
        font-weight: bold;
        color: #444444;
        margin: 150px 0 30px 0;
    }

	svg {
        height: 128px;
        width: 828px;
    }
}

@media screen and (max-width:768px) {
    .title {
        font-size: 50px;
        font-weight: bold;
        color: #444444;
        margin: 120px 0 30px 0;
    }

	svg {
        height: 128px;
        width: 350px;
    }
}